.niceButton5 {
  display: inline-block;
  border-radius: 20px;
  background-color: #f4511e;
  border: none;
  color: #ffff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding: 18px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align: middle;
}
.niceButton5 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.niceButton5 span::after {
  content: ">";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.niceButton5:hover span {
  padding-right: 30px;
}
.niceButton5:hover span::after {
  opacity: 1;
  right: 0;
}
body {
  display: flex;
  background: linear-gradient(to right, rgb(229, 138, 154),skyblue);
}